# Python
backend/.venv/
backend/__pycache__/
backend/**/*.pyc

# Backend outputs
backend/outputs/

# Node
frontend/node_modules/
frontend/dist/

# OS/editor
.DS_Store
Thumbs.db
.vscode/

# model
models/best_model.pth